.grumpyCat {
    width: 200px;
    border-radius: 10px;
}

.grumpyCat-square {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.grumpyCat-circle {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    object-fit: cover;
    object-position: center;
}

.input7d {
    border-radius: 8px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

.input7e {
    font-size: 16px;
    width: 500px;
    border-radius: 200px;
    border: none;
    padding: 12px 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    margin: 20px 0;
}

p {
    font-family: Arial;
    color: rgb(100, 100, 100);
    margin-top: 0;
    margin-bottom: 0;
}

.label {
  font-size: 16px;
  margin-bottom: 10px;
}

.disclaimer {
  font-size: 16px;
  margin-bottom: 20px;
}

.input {
  font-size: 16px;
  width: 400px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(100, 100, 100);
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.button-agree {
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  font-size: 20px;
  width: 400px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 30px;
}

.grumpyCat_7g {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    vertical-align: middle;
}

.tweet_button {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 30px;
    vertical-align: middle;
}

.input_7g {
    border: none;
    vertical-align: middle;
    width: 300px;
    padding: 2px 5px;
    font-size: 18px;
}

.card-9e {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    width: 450px;
    border-radius: 10px;
    padding: 10px;
    
}