body {
    height: 3000px;
}

div {
    font-family: Arial;
}

.sidebar {
    width: 100px;
    background-color: green;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: white;
    width: 300px;
    height: 100px;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.modal-content {
    margin-bottom: 12px;
}