body {
    height: 3000px;
}

.close-button {
    background-color: black;
    color: white;
    font-family: Arial;
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}