body {
    height: 3000px;
}

.container {
    display: flex;
    position: relative;
    display: inline-block;


}

.shirt {
    height: 200px;
    width: 200px;
    object-fit: cover;

}

.discount {
    font-family: Arial;
    background-color: black;
    color: white;
    position: absolute;
    right: 0px;
    top: 5px;
    padding: 5px 8px;
    font-size: 12px;

}